<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавить новую запись</title>
</head>
<body>
<form method="post">
  <p> Ведите данные для новой записи </p>
  <input name="name" placeholder="Type name here"/>
  <p>
  </p>
  <input name="surname" placeholder="Type surname here"/>
  <p>
  </p>
  <input name="address" placeholder="Type address here"/>
  <p>
  </p>
  <input name="telephone" placeholder="Type telephone here"/>
  <p>
    <button>Отправить</button>
  </p>
</form>
</body>
</html>