<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные</title>
</head>
<body>
<form method="post">
    <p> Ведите новые данные для записи (можно изменить любое кол-во полей) </p>
    <input name="name" placeholder="Type name here"/>
    <p>
    </p>
    <input name="surname" placeholder="Type surname here"/>
    <p>
    </p>
    <input name="address" placeholder="Type address here"/>
    <p>
    </p>
    <input name="telephone" placeholder="Type telephone here"/>
    <p>
        <button>Отправить</button>
    </p>
</form>
</body>
</html>