<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список адресов</title>
</head>
<body>
<div th:text="${msg}"></div>
<table border="1">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Address</th>
    <th>Phone number</th>
  </tr>
  <tr th:each="mapItem:${result}">
    <td th:utext="${mapItem.key}">undefined</td>
    <td th:utext="${mapItem.value.name}">undefined</td>
    <td th:utext="${mapItem.value.surname}">undefined</td>
    <td th:utext="${mapItem.value.address}">undefined</td>
    <td th:utext="${mapItem.value.telephone}">undefined</td>
  </tr>
</table>
</body>
</html>